[package]
name = "fsdr-cli"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/loic-fejoz/fsdr-cli/"
homepage = "https://fsdr-cli.github.io"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
audio = ["futuresdr/audio"]

[dependencies]
futuresdr = { git="https://github.com/FutureSDR/FutureSDR", version = "0.0.32", features=['audio']}
async-trait = "0.1.52"
fsdr-blocks = { git="https://github.com/FutureSDR/fsdr-blocks"}
#fsdr-blocks = { path="../fsdr-blocks" }
serde_yaml = "0.9.17"
serde = {version="1.0.152", features=["derive"]}
